@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thaana:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap");

@font-face {
	font-family: "LS";
	src: url("/fonts/LandasansMedium-ALJ6m.otf");
	font-weight: 500;
}
@font-face {
	font-family: "LS";
	src: url("/fonts/LandasansUltraLight-qZ080.otf");
	font-weight: 100;
}

.LS-medium {
	font-family: "LS";
	font-weight: 600; /* Apply specific weight if defined in @font-face */
}

body {
	background: black;
}

::-webkit-scrollbar {
	display: none;
}

/* --------------------------- FONTS ------------------------------ */

.kanit-regular {
	font-family: "Kanit", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.kanit-medium {
	font-family: "Kanit", sans-serif;
	font-weight: 500;
	font-style: normal;
}
.kanit-semibold {
	font-family: "Kanit", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.poppins-medium {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.poppins-semibold {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.poppins-bold {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.poppins-extrabold {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: normal;
}
.noto-sans-thaana-regular {
	font-family: "Noto Sans Thaana", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.noto-sans-thaana-semibold {
	font-family: "Noto Sans Thaana", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

.noto-sans-thaana-medium {
	font-family: "Noto Sans Thaana", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.noto-sans-thaana-bold {
	font-family: "Noto Sans Thaana", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.noto-sans-thaana-extraBold {
	font-family: "Noto Sans Thaana", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
}

/* --------------------------- FONTS ------------------------------ */

:root {
	--video-padding-inline: 13vw;
	--video-mobile-padding-inline: 40px;
}

/* --------------------------- FONTS ------------------------------ */

#hero {
	background: linear-gradient(to bottom, black 90%, transparent 100%);
	/* position: fixed;
	left: 50%;
	top: 50%; */
	/* transform: translate(-50%, -50%); */
}

.vi-logo-img {
	mask-image: radial-gradient(
		circle at 50% 200%,
		/* 50-70 */ rgb(0, 0, 0) 0%,
		/* 50-70 */ rgba(0, 0, 0, 0) 50%
	);
}

.masked-img {
	mask-image: url("/hero/grand-theft.svg");
	mask-repeat: no-repeat;
	mask-position: 47% 41%;
	mask-size: 3500%;
}
.under-img {
	position: sticky;
	/* top: 0;
	bottom: 0; */
	height: 100vh;
	width: 100vw;
	scale: 1.1;
}

.transparent-gradient {
	background-image: radial-gradient(
		circle at 50% 150vh,
		rgb(255, 212, 128) 0vh,
		rgb(234, 67, 116) 50vh,
		rgb(117, 32, 102) 90vh,
		rgba(32, 31, 66, 0) 100vh
	);
}

.gradient-text {
	/* background: linear-gradient(#4740bd, #bc3dc3, #ff5fa5, #ff868b, #fd9546); */
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}

.colorful-gradient {
	background-image: radial-gradient(
		circle at 50% 50vh,
		rgb(255, 212, 128) 0vh,
		rgb(234, 67, 116) 50vh,
		rgb(117, 32, 102) 90vh,
		rgba(32, 31, 66, 0) 100vh
	);
}

.black-gradient {
	background: radial-gradient(
		circle at 50% 50%,
		rgb(0, 0, 0) 55%,
		rgba(0, 0, 0, 0) 120%
	);
}

/* ----------------------- used on jason video component ----------------------------- */
.mask-video {
	mask-image: radial-gradient(
		circle at 150vw 50vh,
		rgb(0, 0, 0) 100vw,
		rgb(0, 0, 0) 150vw
	);
}

.mask-video-gun {
	mask-image: radial-gradient(
		circle at 75vw 25vh,
		rgb(0, 0, 0) 65vw,
		rgba(0, 0, 0, 0.5) 90vw
	);
	/* mask-image: radial-gradient(
		circle at 80vw 30vh,
		rgb(0, 0, 0) 60vw,
		rgba(0, 0, 0, 0.5) 90vw
	); */
}

/* radial-gradient(circle at 48vw 40vh, rgb(0, 0, 0) 60vw, rgba(0, 0, 0, 0.667) 75vw) */

.jason-quotes::before {
	content: "''";
	position: absolute;
	left: -30px;
	transform: rotateY(180deg);
}
.jason-quotes::after {
	content: "''";
	position: absolute;
	/* right: -10px; */
	/* transform: rotateY(180deg); */
}

/* ----------------------- used on clipped img component ----------------------------- */
.clipped-img-bottom1 {
	clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
}
.clipped-img-top1 {
	clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
}

.clip-text {
	clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
}

.orangish-gradient {
	background-image: radial-gradient(
		circle at 80% 40%,
		rgb(252, 82, 67) 0%,
		rgb(223, 58, 147) 50%,
		transparent 100%
	);
}
/* ----------------------- used on Raul Bautista component ----------------------------- */
.black-mask {
	background: rgba(0, 0, 0, 1);
}
.gradient-bg {
	background: linear-gradient(
		rgb(81, 93, 71) 0%,
		rgb(78, 91, 69) 8.61%,
		rgb(69, 86, 63) 17.21%,
		rgb(58, 80, 57) 25.82%,
		rgb(50, 73, 54) 34.42%,
		rgb(46, 68, 53) 43.03%,
		rgb(44, 66, 52) 51.63%
	);
	/* backdrop-filter: brightness(1);
	-webkit-backdrop-filter: brightness(1); */
}
.raul-bg-img {
	background-image: url("/raul_bautista/bg-img.webp");
	background-size: cover;
	height: 120vh;
	background-repeat: no-repeat;
	width: 100vw;
	background-position: 30% 15%;
	/* mask-image: linear-gradient(-246deg, #000 30%, rgba(0, 0, 0, 0.45) 72%); */
	/* mask-image: linear-gradient(80deg, #000 50%, rgba(0, 0, 0, 0.45) 85%); */
	mask-image: linear-gradient(90deg, #000 50%, rgba(0, 0, 0, 0.45) 72%);
}

.quotes::before {
	content: "''";
	position: absolute;
	left: -30px;
	transform: rotateY(180deg);
}
.quotes::after {
	content: "''";
	position: absolute;
	right: 75px;
	/* transform: rotateY(180deg); */
}

.raul-section-bg {
	background: linear-gradient(
		223.17deg,
		rgb(81, 93, 71) 0%,
		rgb(78, 91, 69) 8.61%,
		rgb(69, 86, 63) 17.21%,
		rgb(58, 80, 57) 25.82%,
		rgb(50, 73, 54) 34.42%,
		rgb(46, 68, 53) 43.03%,
		rgb(44, 66, 52) 51.63%
	);
}

.postcard-bg {
	background-image: url("/raul_bautista/postcard.webp");
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
	width: 100%;
	z-index: 9;
}
.postcard-overlay {
	background-image: url("/raul_bautista/postcard-overlay.webp");
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
	width: 100%;
	z-index: 10;
}

/* ----------------------- used on hero2 component ----------------------------- */

.vi-img {
	background-image: url("hero/vi.png");
	mask-image: radial-gradient(
		circle at 50% 200%,
		rgb(0, 0, 0) 0%,
		rgba(0, 0, 0, 0) 50%
	);
	background-position-x: 50%;
	background-position-y: 50%; /* 43% */
	opacity: 0;
	background-size: clamp(5000vh, 3500%, 0.002vh); /* clamp(29vh, 35%, 20vh) */
	background-repeat: no-repeat;
	width: 400px;
	height: 270px;
	z-index: 99;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -10%);
}
.vi-gradient-bg {
	background: linear-gradient(#4740bd, #bc3dc3, #ff5fa5, #ff868b, #fd9546);
}

/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------- Mobile ----------------------------- */
/* ------------------------------------------------------------------------------- */

@media screen and (max-width: 750px) {
	.quotes::before {
		content: "''";
		position: absolute;
		left: -20px;
		transform: rotateY(180deg);
	}
	.quotes::after {
		content: "''";
		position: initial;
		padding-left: 10px;
		/* right: 70px; */
		/* transform: rotateY(180deg); */
	}
}
